name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
      
    - name: Build the Docker image
      run: docker build . --file ./Dockerfile --tag ${{ secrets.DOCKERHUB_USERNAME }}/auto-minder-ai:backend

    - name: Push the Docker image
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/auto-minder-ai:backend